

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet"
         href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body class="booking-success-background">
    <div class="booking-success-container container">

        <h2>Congratulations You Are Successfully Book Your Table</h2>
        
        <form method="post" action="{{ url_for('booking_success') }}" >
        
        <p>Date: {{ date }}</p>
        <p>Time: {{ time }} For {{guests}} people </p>
    
        <div class="links">
           
            <a href="{{ url_for('home') }}">Back Home</a>
        
        </form>
        
        </div>
    </div>
</body>
</html>


