<!DOCTYPE html>
<html>
<head>
    <title>Table Booking</title>
    <link rel="stylesheet"
         href="{{ url_for('static', filename='styles.css') }}">
            
</head>
<body class="booking-table-background">
    
    <div class="container">
        
        <h1>Table Booking</h1>
        
        <form method="POST" action="{{ url_for('booking_success') }}">

            <p>Date: <input type="date" name="date" required = True ></p>
            
            <p>Time: <input type="time" name="time" required = True></p>
            
            <p>Number of Guests: <input type="number" 
                name="guests" min="1" max="5" required = True></p>

            
            <p>Special Requests: <textarea name="requests" rows="4"
                cols="50"></textarea></p>
            
            <input type="hidden" name="booked" value="False">

            <p><input type="submit" value="Book Table"></p>

        </form>
    </div>

    
</body>
</html>
