<!DOCTYPE html>
<html>
<head>
    <title>Events Calendar</title>
    <link rel="stylesheet"
         href="{{ url_for('static', filename='styles.css') }}">
    
</head>
 <body class="events-background events"> 

    <h1>WEEKLY<br>VIBES</h1>
    <form method="POST">
    <div class="events">
        {% for event in events %}
            <div class="event">
                
                <h3>{{ event.date }}</h3>
                
               <div style="display:flex">
                <p>{{ event.week_day }}</p><p> {{ event.dj_name }}</p>
                </div>
                <input type="submit" value="Book">
            
            </div>
        
        {% endfor %}
    </form>
    </div>
</body>
</html>
