<!DOCTYPE html>
<html>

<head>
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="menu-background">
    <div class="menu-container container">
        <h1>Menu</h1>

        <div class="left">
            <h2>Cocktails</h2>
            <ul>
                <li>Martini</li>
                <li>Old Fashioned</li>
                <li>Margarita</li>
                <li>Negroni</li>
                <li>Daiquiri</li>
                <li>Mojito</li>
                <li>Cosmopolitan</li>
                <li>Whiskey Sour </li>
                <li>Pina Colada </li>
                <li>Manhattan</li>
            </ul>
        </div>

        <div>

            <h2>Signature Cocktails</h2>
            <ul>
                <li>Tropical Paradise</li>
                <li>Spicy Mango Margarita</li>
                <li>Berry Bliss</li>
                <li>Cucumber Cooler</li>
                <li>Passion Fruit Punch</li>
                <li>Lavender Martini</li>
                <li>Smokey Bourbon Smash</li>
                <li>Chai White Russian</li>
                <li>Blue Lagoon</li>
                <li>Blackberry Sage Fizz</li>
            </ul>
        </div>


        <h2>Non-Alcoholic Mocktails</h2>
        <ul>
            <li>Virgin Mojito</li>
            <li>Berry Sparkler</li>
            <li>Cucumber Cooler Mocktail</li>
            <li>Sunrise Splash</li>
            <li>Mango Tango</li>
        </ul>

        <h2>Beer and Wine</h2>
        <ul>
            <li>A selection of local and craft beers on tap.</li>
            <li>Red and white wines by the glass or bottle.</li>
            <li>A variety of bottled beers and ciders.</li>
        </ul>

        <h2>Bar Snacks and Appetizers</h2>
        <ul>
            <li>Nacho Platter - Tortilla Chips, Melted Cheese, Guacamole, Salsa,
                 Sour Cream.</li>
            <li>Mini Sliders - Beef, Chicken, or Veggie options with assorted 
                toppings.</li>
            <li>Wings - Buffalo, BBQ, or Teriyaki.</li>
            <li>Fries or Sweet Potato Fries - With various dipping sauces.</li>
            <li>Bruschetta - Toasted Baguette with Tomato, Basil, Garlic, 
                and Balsamic Glaze.</li>
            <li>Cheese Plate - Assorted Cheeses, Crackers, and Fruit.</li>
            <li>Stuffed Mushrooms - With Creamy Spinach and Cheese.</li>
        </ul>

        <h2>Sushi</h2>
        <ul>
            <li>California Roll</li>
            <li>Spicy Tuna Roll</li>
            <li>Salmon Nigiri</li>
            <li>Dragon Roll</li>
            <li>Vegetarian Sushi Platter</li>
        </ul>

        <h2>Pizza</h2>
        <ul>
            <li>Margherita Pizza</li>
            <li>Pepperoni Pizza</li>
            <li>Hawaiian Pizza</li>
            <li>Vegetarian Pizza</li>
            <li>BBQ Chicken Pizza</li>
        </ul>

        <h2>Pasta</h2>
        <ul>
            <li>Spaghetti Carbonara</li>
            <li>Fettuccine Alfredo</li>
            <li>Penne Arrabbiata</li>
            <li>Linguine with Clam Sauce</li>
            <li>Lasagna</li>
        </ul>
        
        <h2>Desserts</h2>
        <ul>
            <li>Chocolate Fondue</li>
            <li>Tiramisu</li>
            <li>New York Cheesecake</li>
            <li>Chocolate Lava Cake .</li>
            <li>Fruit Parfait</li>
            <li>Apple Pie </li>
            <li>Key Lime Pie</li>
            <li>Red Velvet Cake</li>
            <li>Molten Chocolate Soufflé</li>
            </div>
</body>

</html>
