
 <!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" 
            href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body class="register-background">
    <div class="container">
        
        <h1>Register</h1>
        
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <form method="POST">
            
            <label for="name">Name:</label>
            <input type="text" name="name" required value="{{ name }}">
            
            <label for="surnm">Surname:</label>
            <input type="text" name="surname" required value="{{ surname }}">
                                                
        
            <label for="mail">Email:</label>
            <input type="text" name="mail" required value="{{ mail }}">
            
            <label for="usrnm">Username:</label>
            <input type="text" name="username" required value="{{ username }}"> 
            
                                               
            <label for="psw">Password:</label>
            <input type="password" name="password" required = True>
            
            <label for="psw2">Confirm Password:</label>
            <input type="password" name="password2" required = True>
            
            <input type="submit" value="Register">
    
        </form>
    </div>

</body>
</html>
